<%= render 'layouts/header' %>
<div class="container p-t-md">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-group media-list media-list-stream">
        <li class="list-group-item p-a">
          <h2 class="m-a-0">Shopping Cart</h2>
        </li>

        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="cart">
              <% if @cart_items.empty? %>
                <h3>Your cart is empty! What about choosing some clothes?</h3>
              <% else %>
                <table class="table">
                  <thead>
                    <th>Item</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Gender</th>
                    <th>Store</th>
                    <th></th>
                    <th>Quantity</th>
                    <th></th>
                    <th>Price</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <% @cart_items.each do |cart_item| %>
                      <tr>
                        <td><%= cart_item.item.name %></td>
                        <td><%= cart_item.item.color %></td>
                        <td><%= cart_item.item.size %></td>
                        <td><%= cart_item.item.gender %></td>
                        <td><%= link_to cart_item.item.store.name, cart_item.item.store %></td>
                        <td><%= button_to '-', { controller: :cart, action: :update, quantity: cart_item.quantity - 1, cloth_instance_id: cart_item.item.id }, method: :patch, class: 'btn btn-danger' if cart_item.quantity > 1 %></td>
                        <td><%= cart_item.quantity %></td>
                        <td><%= button_to '+', { controller: :cart, action: :update, quantity: cart_item.quantity + 1, cloth_instance_id: cart_item.item.id }, method: :patch, class: 'btn btn-success' %></td>
                        <td><%= humanized_money_with_symbol cart_item.subtotal %></td>
                        <td><%= button_to 'Remove', { controller: :cart, action: :remove, cloth_instance_id: cart_item.item.id }, method: :delete, class: 'btn btn-danger' %></td>
                      </tr>
                    <% end %>
                    <tr>
                      <td colspan="7"</td>
                      <td>Subtotal:</td>
                      <td><%= humanized_money_with_symbol @cart.subtotal %></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <div class="shipping">
                  <%= form_tag new_order_path, method: :get do %>
                    <%= shipping_cost_radio_button @cart, 1 %>
                    <%= shipping_cost_radio_button @cart, 2 %>
                    <%= button_tag 'Proceed to checkout', class: 'btn btn-primary' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
