  <br />
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Shopping Cart</h4>
      </div>
      <div class="panel-body">
        <% if @cart_items.empty? %>
            <h4>Your cart is empty! What about choosing some products?</h4>
        <% else %>
          <% @cart_items.each do |cart_item| %>
            <div class="row">
              <div class="col-xs-2 col-lg-1">
                <div class="btn-group-vertical" role="group">
                  <%= link_to raw("<i class=\"fa fa-chevron-up\"></i>"), { controller: :cart, action: :update, quantity: cart_item.quantity + 1, product_id: cart_item.item_id }, method: :patch, class: 'btn btn-sm btn-default' %>
                  <button type="button" class="btn btn-sm btn-default" aria-label="Right Align">
                    <strong><%= cart_item.quantity %></strong>
                  </button>
                  <%= link_to raw("<i class=\"fa fa-chevron-down\"></i>"), { controller: :cart, action: :update, quantity: cart_item.quantity - 1, product_id: cart_item.item_id }, method: :patch, class: 'btn btn-sm btn-default' if cart_item.quantity > 1 %>
                </div>
              </div>
              <div class="col-xs-3 col-lg-3">
                <%= image_tag cart_item.image.url(:thumb), class: 'img-responsive center-block' %>
              </div>
              <div class="col-xs-3 col-lg-4">
                <b><%= cart_item.name %></b>
                <br />
              </div>
              <div class="col-xs-3 col-lg-2">
                <%= link_to cart_item.store.name, cart_item.store %>
              </div>
              <div class="col-xs-1 col-lg-1">
                <%= humanized_money_with_symbol cart_item.subtotal %>
              </div>
              <div class="col-lg-1">
                <%= button_to 'x', { controller: :cart, action: :remove, product_id: cart_item.item_id }, method: :delete, class: 'remove-item pull-right' %>
              </div>
            </div>
          <% end %>
          <hr />
          <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-lg-2 col-lg-offset-8">
              <h4>Subtotal:</h4>
            </div>
            <div class="col-xs-2 col-lg-1">
              <h4><%= humanized_money_with_symbol @cart.subtotal %></h4>
            </div>
          </div>

          <%= form_tag new_order_path, method: :get do %>
            <hr />
            <div class="row">
              <div class="col-lg-9">
                <a href="/atlanta">Continue Shopping</a>
              </div>
              <div class="col-lg-3">
                <%= button_tag 'Checkout', class: 'btn btn-default red btn-block pull-right' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
