<%= render 'layouts/header' %>

<div class="profile-header text-center">
  <div class="container">
    <div class="container-inner">
      <h1 class="profile-header-user" style="">
        <% if @stores.empty? %>
          Wait Up!
          <h4>We'll be in <%= @city %> soon.</h4>
        <% else %>
        <%= @city %>
        <% end %>
      </h1>
    </div>
  </div>
  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Stores</a>
      </li>
      <li>
        <a href="#">Clothes</a>
      </li>
      <li>
        <a href="#">New</a>
      </li>
    </ul>
  </nav>
</div>

    <div class="row" style="padding-top:15px;">
      <div class="col-xs-2 col-xs-offset-2 col-sm-offset-0 col-md-1 col-md-offset-4">
        <div class="dropdown">
          <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Men
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Both</a></li>
            <li><a href="#">Womens</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-2 col-md-1">
        <div class="dropdown">
          <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Small
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Small</a></li>
            <li><a href="#">Medium</a></li>
            <li><a href="#">Large</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-2 col-md-1">
        <div class="dropdown">
          <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Brown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Small</a></li>
            <li><a href="#">Medium</a></li>
            <li><a href="#">Large</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-2 col-md-1">
        <div class="dropdown">
          <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Pants
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Small</a></li>
            <li><a href="#">Medium</a></li>
            <li><a href="#">Large</a></li>
          </ul>
        </div>
      </div>
      <br class="hidden-sm hidden-md hidden-lg" />
      <br class="hidden-sm hidden-md hidden-lg" />
    </div>

<div class="stores container m-y-md" data-grid="rowGrid">
  <% if @stores.empty? %>
    In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
  <% end %>

  <% @stores.each do |store| %>
    <div class="store item">
      <%= link_to store_path(store) do %>
        <%= image_tag store.thumbnail.url, class: "store-item" %>
        <h3><%= store.name %></h3>
        <% if store.available_for_delivery? %>
          <i class="available-for-delivery fa fa-truck"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
