<%= render 'layouts/header' %>

<!-- Generating modals for clothes -->
<% @clothes.each do |cloth| %>
  <%= render 'cloth_modal', cloth: cloth, store: cloth.store %>
<% end %>

<div class="profile-header text-center">
  <div class="container">
    <div class="container-inner">
      <h1 class="profile-header-user" style="">
        <% if @stores.empty? %>
          Wait Up!
          <h4>We'll be in <%= @city %> soon.</h4>
        <% else %>
        <%= @city %>
        <% end %>
      </h1>
    </div>
  </div>
  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#stores" data-toggle="tab">Stores</a>
      </li>
      <li>
        <a href="#clothes" data-toggle="tab">Clothes</a>
      </li>
    </ul>
  </nav>
</div>


<div class="tab-content">
  <div id="stores" class="tab-pane active">
    <div class="stores container m-y-md col-md-8 col-md-offset-2" data-grid="rowGrid">
      <% if @stores.empty? %>
        In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
      <% end %>


      <% @stores.each do |store| %>
        <div class="store item">
          <%= link_to store_path(store) do %>
            <%= image_tag store.thumbnail.url, class: "store-item" %>
            <h3><%= store.name %></h3>
            <% if store.available_for_delivery? %>
              <i class="available-for-delivery fa fa-truck"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="clothes" class="tab-pane">
    <div class="clothes container m-y-md col-md-8 col-md-offset-2" data-grid="rowGrid">
      <% if @clothes.empty? %>
        In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
      <% end %>


      <% @clothes.each do |cloth| %>
        <div class="cloth item">
          <%= link_to '#' + modal_id(cloth), 'data-toggle' => 'modal' do%>
            <%= image_tag cloth.image.url(:medium) %>
            <i class="heart-this fa fa-heart-o"></i>
            <h3><%= cloth.name %></h3>
            <% if cloth.store.available_for_delivery? %>
              <i class="available-for-delivery fa fa-truck"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
