<!-- Generating modals for clothes -->
<% @clothes.each do |cloth| %>
  <%= render 'cloth_modal', cloth: cloth, store: cloth.store %>
<% end %>

<div class="profile-header text-center">
  <div class="container">
    <div class="container-inner">
      <h1 class="profile-header-user" style="">
        <% if @stores.empty? %>
          Wait Up!
          <h4>We'll be in <%= @city %> soon.</h4>
        <% else %>
        <%= @city %>
        <% end %>
      </h1>
    </div>
  </div>
  <% unless @stores.empty? %>
  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#stores" data-toggle="tab">Stores</a>
      </li>
      <li>
        <a href="#clothes" data-toggle="tab">Clothes</a>
      </li>
    </ul>
  </nav>
  <% end %>
</div>




<div id="nav-wrapper" class="js-affix-wrapper">
  <nav class="navbar navbar-inverse js-affix" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-nav-bar" aria-expanded="false">
          <span class="sr-only"> Toggle </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> TEST </a>
      </div>
      <div class="collapse navbar-collapse" id="secondary-nav-bar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mens <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Womens</a></li>
              <li><a href="#">Both</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
</div>



<div class="tab-content">
  <div id="stores" class="tab-pane active">
    <div class="js-image-grid stores container m-y-md col-md-10 col-md-offset-1">
      <% if @stores.empty? %>
        In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
      <% end %>

      <% @stores.each do |store| %>
        <div class="store item" >
          <%= link_to store_path(store) do %>
            <%= image_tag store.thumbnail_url, class: "store-item", width: store.thumbnail_dimensions.width, height: store.thumbnail_dimensions.height %>
            <h3><%= store.name %></h3>
            <% if store.available_for_delivery? %>
              <i class="available-for-delivery fa fa-truck"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="clothes" class="tab-pane">
    <div class="js-image-grid clothes container m-y-md col-md-8 col-md-offset-2">
      <% if @clothes.empty? %>
        In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
      <% end %>

      <% @clothes.each do |cloth| %>
        <div class="cloth item">
          <%= link_to '#' + modal_id(cloth), 'data-toggle' => 'modal' do%>
            <%= image_tag cloth.image_url, width: cloth.image_dimensions.width, height: cloth.image_dimensions.height %>
            <i class="heart-this fa fa-heart-o"></i>
            <h3><%= cloth.name %></h3>
            <% if cloth.store.available_for_delivery? %>
              <i class="available-for-delivery fa fa-truck"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
