<div id="nav-wrapper" class="js-affix-wrapper">
  <nav class="navbar navbar-inverse js-affix">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right secondary-nav js-filters-nav">
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="profile-header text-center">
  <div class="container">
    <div class="container-inner">
      <h1 class="profile-header-user" style="">
        <% if @stores.empty? %>
          Wait Up!
          <h4>We'll be in <%= @city %> soon.</h4>
        <% else %>
        <%= @city %>
        <% end %>
      </h1>
    </div>
  </div>
</div>

<div class="container m-y-md tab-content">
  <div id="stores" class="tab-pane active">
    <div class="stores col-lg-10 col-lg-offset-1">
      <% if @stores.empty? %>
        In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
      <% end %>

      <% @stores.in_groups_of(3).map(&:compact).each do |group| %>
        <div class="row">
          <% group.each do |store| %>
            <div class="store item col-lg-4 col-sm-4 col-xs-12 thumb">
              <%= link_to store_path(store), class: 'thumbnail' do %>
                <%= image_tag store.image_url, class: "store-item" %>
                <h3><%= store.name %></h3>
                <% if store.available_for_delivery? %>
                  <i class="available-for-delivery fa fa-truck"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
