<!-- Generating modals for clothes -->
<% @store.clothes.each do |cloth| %>
  <%= render 'cloth_modal', cloth: cloth %>
<% end %>

<div class="profile-header text-center"
    style="background-image: url(<%= @store.background_image.url %>);">
  <div class="container">
    <div class="container-inner">
      <img class="img-circle media-object" src="https://a1.lscdn.net/imgs/5f6f13ed-d99a-4cfc-8aea-ea973447c92f/200_q100.png">
      <h1 class="profile-header-user"><%= @store.name %></h1>
      <p class="profile-header-bio">
        <%= @store.address %>
        <% if @store.available_for_delivery? %>
          <i class="available-for-delivery fa fa-truck"></i>
        <% end %>
      </p>
    </div>
  </div>

  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Stores</a>
      </li>
      <li>
        <a href="#">Clothes</a>
      </li>
      <li>
        <a href="#">New</a>
      </li>
    </ul>
  </nav>
</div>

<div class="clothes container m-y-md" data-grid="rowGrid">
  <% if @store.clothes.empty? %>
    <h2>No products registered for this store yet</h2>
  <% end %>
  <% @store.clothes.each do |cloth| %>
    <div class="cloth item">
      <%= link_to '#' + modal_id(cloth), 'data-toggle' => 'modal' do%>
        <%= image_tag cloth.image.url(:medium) %>
        <h3><%= cloth.name %></h3>
      <% end %>
      <%= render 'cloth_modal', cloth: cloth %>
    </div>
  <% end %>
</div>
