<div id="nav-wrapper" class="js-affix-wrapper">
  <nav class="navbar navbar-inverse js-affix">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to "/" + @store.city do %>
            <%=@store.city%> > <%=@store.name%>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right js-filters-nav">
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>


<div class="profile-header text-center">
  <div class="container-inner">
    <%= image_tag @store.logo.url, class: 'img-circle media-object' %>

    <p class="profile-header-bio">
      <br />
      <%= link_to @store.address + ", " + @store.city, "https://www.google.com/maps/place/" + @store.address + ", " + @store.city, style: "font-size: 14px;", target: "_blank" %>
      <% if @store.available_for_delivery? %>
        <i class="available-for-delivery fa fa-truck"></i>
      <% end %>
    </p>
  </div>
  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">All</a>
      </li>
      <li>
        <a href="#">New</a>
      </li>
      <li>
        <a href="#">Popular</a>
      </li>
      <li>
        <a href="#">Deals</a>
      </li>
    </ul>
  </nav>
</div>

<%= image_tag 'spinner.gif', class: 'js-spinner', style: 'display: none;' %>
<div class="js-image-grid container m-y-md col-md-8 col-md-offset-2">
  <div id="clothes" class="tab-pane">
    <!-- TODO: find a way to avoid having this JS here -->
    <%= javascript_tag do %>
      FilterClothes();
    <% end %>
  </div>
</div>
<div class="clearfix"></div>
