<%= render 'layouts/header' %>

<!-- Generating modals for clothes -->
<% @store.clothes.each do |cloth| %>
  <%= render 'cloth_modal', cloth: cloth, store: @store %>
<% end %>


<div class="profile-header text-center">
  <div class="container">
    <%= link_to "/" + @store.city, class: "back-to-city" do %>
      <i class="fa fa-chevron-left"></i> <%=@store.city%>
    <% end %>
    <div class="container-inner">
      <%= image_tag @store.logo.url, class: 'img-circle media-object' %>

      <p class="profile-header-bio">
        <br />
        <%= link_to @store.address + ", " + @store.city, "https://www.google.com/maps/place/" + @store.address + ", " + @store.city, target: "_blank" %>
        <% if @store.available_for_delivery? %>
          <i class="available-for-delivery fa fa-truck"></i>
        <% end %>
      </p>
    </div>
  </div>

  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">All</a>
      </li>
      <li>
        <a href="#">New</a>
      </li>
      <li>
        <a href="#">Popular</a>
      </li>
      <li>
        <a href="#">Deals</a>
      </li>
    </ul>
  </nav>
</div>

<div id="nav-wrapper" data-spy="affix" data-offset-top="200">
  <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mens <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Womens</a></li>
            <li><a href="#">Both</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Small <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Medium</a></li>
            <li><a href="#">Large</a></li>
            <li><a href="#">XL</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Black <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Red</a></li>
            <li><a href="#">Green</a></li>
            <li><a href="#">Blue</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">T-Shirts<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Pants</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Hoodies</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>



<div class="container m-y-md col-md-8 col-md-offset-2" data-grid="rowGrid">
  <% if @store.clothes.empty? %>
    <h2>No products registered for this store yet</h2>
  <% end %>

  <% @store.clothes.shuffle.each do |cloth| %>
    <div class="cloth item">
      <%= link_to '#' + modal_id(cloth), 'data-toggle' => 'modal' do%>
        <%= image_tag cloth.image.url(:medium) %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="clearfix"></div>