<span data-filter="store_id" data-filter-value="<%= @store.id %>"></span>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav secondary">
        <li class="active"><a href="/help"><b>Today</b></a></li>
        <li><a href="/">Tomorrow</a></li>
        <li><a href="/terms">Friday</a></li>
        <li><a href="/privacy">Saturday</a></li>
        <li><a href="/privacy">Sunday</a></li>
        <li><a href="/privacy">Monday</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <br class="items-list-break" />
  <div class="col-md-10 col-md-offset-1 items-list">
    <% @available_products.each do |product| %>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="panel panel-default">
          <%= form_for CartItem.new, url: cart_add_path, method: :patch do |f| %>
            <%= f.hidden_field :quantity, name: 'quantity', value: 1 %>
            <%= f.hidden_field :product_id, name: 'product_id', value: product.id %>
            <%= image_tag product.image_url, class: 'food-pictures img-responsive' %>
            <div class="price"><%= product.price.format %></div>

              <div class="food-label">
               <button class="btn btn-success btn-circle">V</button>
               <button class="btn btn-warning btn-circle">GF</button>
               <button class="btn btn-primary btn-circle">VG</button>
              </div>


            <div class="panel-body food-items">
              <div class="col-xs-10">
                <div class="product-name"><%= product.name %></div>
                <p>Chick-Fil-A</p>
              </div>
              <div class="col-xs-2">
                <div class="<%= ' hide' unless policy(@store).add? %>">
                <%= f.button '', class: 'btn btn-default fa fa-plus-circle add-item-button pull-right' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>