<%= render 'layouts/header' %>

<!-- Generating modals for clothes -->
<% @store.clothes.each do |cloth| %>
  <%= render 'cloth_modal', cloth: cloth, store: @store %>
<% end %>

<div class="profile-header text-center">
  <div class="container">
    <div class="container-inner">
      <%= image_tag @store.logo.url, class: 'img-circle media-object' %>

      <p class="profile-header-bio">
        <br />
        <%= link_to @store.address + ", " + @store.city, "https://www.google.com/maps/place/" + @store.address + ", " + @store.city, target: "_blank" %>
        <% if @store.available_for_delivery? %>
          <i class="available-for-delivery fa fa-truck"></i>
        <% end %>
      </p>
    </div>
  </div>

  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Mens</a>
      </li>
      <li>
        <a href="#">Womens</a>
      </li>
      <li>
        <a href="#">Both</a>
      </li>
    </ul>
  </nav>
</div>

<div id="nav-wrapper" data-spy="affix" data-offset-top="200">
  <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">Pants</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Sweatshirts</a></li>
        <li><a href="#">Bookbags</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">T-Shirts</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Hoodies</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div style="padding-top:15px;">
      <div class="col-xs-2 col-xs-offset-3 col-sm-offset-0 col-md-1 col-md-offset-5">
        <div class="dropdown">
          <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Small
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Small</a></li>
            <li><a href="#">Medium</a></li>
            <li><a href="#">Large</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-2 col-md-1">
        <div class="dropdown">
          <button class="btn btn-primary-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Brown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Small</a></li>
            <li><a href="#">Medium</a></li>
            <li><a href="#">Large</a></li>
          </ul>
        </div>
      </div>
      <br class="hidden-sm hidden-md hidden-lg" />
      <br class="hidden-sm hidden-md hidden-lg" />
    </div>

<div class="clothes container m-y-md col-md-8 col-md-offset-2" data-grid="rowGrid">
  <% if @store.clothes.empty? %>
    <h2>No products registered for this store yet</h2>
  <% end %>
  <% @store.clothes.each do |cloth| %>
    <div class="cloth item">
      <%= link_to '#' + modal_id(cloth), 'data-toggle' => 'modal' do%>
        <%= image_tag cloth.image.url(:medium) %>
        <i class="heart-this fa fa-heart-o"></i>
        <h3><%= cloth.name %></h3>
      <% end %>
    </div>
  <% end %>
</div>
<div class="clearfix"></div>
