<span data-filter="store_id" data-filter-value="<%= @store.id %>"></span>

<nav class="navbar navbar-default hide">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav secondary">
          <!-- TODO: Actually select the active store -->
          <li><a class="active" href="#"><b>Breakfast</b></a></li>
					<li><a href="#">Lunch</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Essentials</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron" style="background:#fff;">
  <h1 class="text-center"><%= @store.name %></h1>
  <% if @store.closed? %>
    <h2 class="text-center closed">Closed</h2>
  <% end %>
  <h3 class="text-center <%= 'line-through' if @store.closed? %>">
    <% if @store.opens_at && @store.closes_at %>
      <%= format_24_to_am_pm(@store.human_opens_at) %> - <%= format_24_to_am_pm(@store.human_closes_at) %>
    <% else %>
      Opened all day
    <% end %>
  </h3>
</div>

<br class="items-list-break" />
<div class="col-md-10 col-md-offset-1 items-list">
  <% @available_products.each do |product| %>
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="panel panel-default">
        <%= form_for CartItem.new, url: cart_add_path, method: :patch do |f| %>
          <%= f.hidden_field :quantity, name: 'quantity', value: 1 %>
          <%= f.hidden_field :product_id, name: 'product_id', value: product.id %>
          <%= image_tag product.image_url, class: 'food-pictures img-responsive' %>
          <div class="panel-body food-items">
            <div class="col-xs-12">
              <h3><%= product.name %> - <%= product.price.format %></h3>
            </div>
            <div class="col-xs-9">
              <p><%= product.description %></p>
            </div>
            <div class="col-xs-3">
              <%= f.button '+ Add', class: 'btn btn-default green pull-right', disabled: !policy(@store).add? %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
