<div class="row edit-profile">
  <div class="col-md-4 col-md-offset-4">
    <div class="m-x-auto text-center">
      <h2>Edit account</h2>
      <br />
      <%= form_for(@user, html: { method: :put, role: "form", 'data-validate' => true }) do |f| %>
        <p class="errors error-message"></p>

        <div class="form-group">
          <%= avatar_tag @user %>
          <div class="help-block">Change avatar</div>
          <%= f.file_field :avatar %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.phone_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
        </div>

        <div class="form-group">
          <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
        </div>

        <%= f.button "Update", class: 'btn btn-default' %>
      <% end %>

      <div class="cancel-registration">
        Unhappy?
        <%= button_to "Cancel my account", registration_path(:user), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>
