<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "m-x-auto text-center app-login-form", role: "form", 'data-validate' => true }) do |f| %>
      <h2>Change your password</h2>

      <p class="errors error-message"></p>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.password_field :password, id: 'edit-password', required: true, autofocus: true, autocomplete: "off", minlength: 8, placeholder: "New password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, required: true, autocomplete: "off", placeholder: "Confirm new password", class: "form-control", 'data-rule-equalTo' => "#edit-password" %>
      </div>

      <div class="m-b-lg">
        <%= f.button "Change my password", class: "btn btn-lg btn-block red" %>
      </div>
    <% end %>
  </div>
</div>
