<% if @store.nil? || @store.available_for_delivery_on?(coordinates) %>
  <% @clothes.each do |cloth| %>
    <%= render 'stores/cloth_modal', cloth: cloth, store: cloth.store %>
  <% end %>
<% end %>

<% if @clothes.empty? %>
  In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
<% end %>

<% @clothes.in_groups_of(3).map(&:compact).each do |group| %>
  <div class="row">
    <% group.each do |cloth| %>
      <div class="col-lg-4 col-sm-4 col-xs-6 thumb">
        <%= link_to '#' + modal_id(cloth), 'data-toggle' => 'modal', class: 'thumbnail' do %>
          <h3><%= cloth.name %></h3>
          <h4><%= cloth.price.format %></h4>
          <%= image_tag cloth.image_url, class: 'img-responsive' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col-lg-12">
	  <ul class="pagination">
      <li>
        <a href="#">«</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">»</a>
      </li>
	  </ul>
  </div>
</div>
