<!-- Generating modals for clothes -->
<% @clothes.each do |cloth| %>
  <%= render 'stores/cloth_modal', cloth: cloth, store: cloth.store %>
<% end %>

<div class="filters">
  <div class="selected-filters">
    <% if @category.persisted? %>
      <p>Category: <%= @category.name %></p>
    <% end %>

    <% if @size.present? %>
      <p>Size: <%= @size %> </p>
    <% end %>

    <% if @max_price.present? %>
      <p>Max price: <%= humanized_money_with_symbol @max_price.to_money %> </p>
    <% end %>
  </div>

  <div data-filter="category_id" data-filter-value="<%= @category.id %>">
    <%= dropdown_for "Mens", class: "male" do %>
      <%= render partial: 'category', collection: @male_categories %>
    <% end %>

    <%= dropdown_for "Women", class: "female" do %>
      <%= render partial: 'category', collection: @female_categories %>
    <% end %>
  </div>

  <%= dropdown_for "Size", class: @sizes.any? ? 'size' : 'hide size', 'data-filter' => 'size', 'data-filter-value' => @size do %>
      <% @sizes.each do |size| %>
        <li>
          <a data-filter-select="<%= size %>"><%= size %></a>
        </li>
      <% end %>
  <% end %>

  <div class="max-price">
    <p>
      Max price: $<span class="js-slider-value"></span>
    </p>
    <input type="range" min="1" max="1000" class="max-price js-slider" data-filter="max_price" value="<%= @max_price || 1000 %>" data-filter-value="<%= @max_price %>">
  </div>
</div>

<div class="js-image-grid clothes col-md-10 col-md-offset-1">
  <% if @clothes.empty? %>
    In the meantime, check out our <a href="/atlanta">Atlanta</a> store!
  <% end %>

  <% @clothes.each do |cloth| %>
    <div class="cloth item">
      <%= link_to '#' + modal_id(cloth), 'data-toggle' => 'modal' do%>
        <%= image_tag cloth.image_url, width: cloth.image_dimensions.width, height: cloth.image_dimensions.height %>
        <i class="heart-this fa fa-heart-o"></i>
        <h3><%= cloth.name %></h3>
      <% end %>
    </div>
  <% end %>
</div>
