<%= form_for(order, html: { id: form_id }) do |f| %>
  <%= f.hidden_field :delivery_time, value: delivery_time %>
  <p>Select the address in which this order will be delivered:</p>
  <% current_user.addresses.each do |address| %>
    <div class="radio">
      <label>
        <%= f.radio_button :delivery_address, address.full_address, required: true %>
        <%= address.full_address %>
      </label>
    </div>
  <% end %>
  <%= yield %>
  <button type="submit" class="btn btn-default">Submit Payment</button>
<% end %>
