<br />
<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
  <div class="panel panel-default">
  	<div class="panel-heading">
      <h4>Orders</h4>
    </div>
    <div class="panel-body">
      <% @orders.each do |order| %>
        <div class="row">
          <% cart_item = order.cart_items.first %>
          <% if cart_item %>
            <div class="col-xs-3 col-lg-3">
              <%= image_tag cart_item.image.url, class: 'img-responsive center-block' %>
            </div >
          <% end %>
          <div class="col-xs-6 col-lg-5">
            <% store = cart_item.try(:store) %>
            <% if store %>
              <b><%= link_to store.name, store_path(store) %></b>
              <br />
              Classic CA Sweater
              <br />
            <% end %>
            <%= order.created_at.strftime('%D, %I:%M%p') %>
            <br />
            <%= order.delivery_address %>
          </div>
          <div class="col-xs-2">
            <br />
          <%= status_for(order) %>
          </div>
          <div class="col-sm-2">
            <br />
            <%= humanized_money_with_symbol order.amount %>
          </div>
        </div>
        <hr />
      <% end %>
    </div>
  </div>
</div>
