<div class="container p-t-md">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-group media-list media-list-stream">
        <li class="list-group-item p-a">
          <h2 class="m-a-0">Checkout</h2>
        </li>

        <li class="media list-group-item p-a">
          <div class="media-body">
            <div class="checkout">
              <table class="table">
                <thead>
                  <th>Cloth</th>
                  <th>Color</th>
                  <th>Size</th>
                  <th>Gender</th>
                  <th>Store</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </thead>
                <tbody>
                  <% @cart.shopping_cart_items.each do |cart_item| %>
                    <tr>
                      <td><%= cart_item.name %></td>
                      <td><%= cart_item.color %></td>
                      <td><%= cart_item.size %></td>
                      <td><%= cart_item.gender %></td>
                      <td><%= link_to cart_item.store.name, cart_item.store %></td>
                      <td><%= cart_item.quantity %></td>
                      <td><%= humanized_money_with_symbol cart_item.price %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="5"</td>
                    <td>Subtotal:</td>
                    <td><%= humanized_money_with_symbol @cart.subtotal %></td>
                  </tr>
                  <tr>
                    <td colspan="5"</td>
                    <td>Shipping cost:</td>
                    <td><%= humanized_money_with_symbol @cart.shipping_cost  %></td>
                  </tr>
                </tbody>
              </table>
              <p>The order will be delivered on: <%= session[:address] %></p>
              <h3>Total: <%= humanized_money_with_symbol @cart.total %></h3>

              <% if false && current_user.has_credit_card? %>
                <%= form_tag orders_path, method: :post do %>
                  <%= hidden_field_tag :delivery_time, @cart.delivery_time %>
                  <button type="submit" class="btn btn-default">Submit Payment</button>
                <% end %>
              <% else %>
                <%= form_tag orders_path, method: :post, id: 'fill-credit-card-form' do %>
                  <%= hidden_field_tag :delivery_time, @cart.delivery_time %>

                    <div class="payment-errors"></div>

                    <div class="form-group">
                      <label for="card-number">Card Number</label>
                      <input id="card-number" class="form-control" placeholder="Your credit card number" type="text" size="20" data-stripe="number"/>
                    </div>

                    <div class="form-group row">
                      <div class="col-xs-2">
                        <label for="card-cvc">CVC</label>
                        <input id="card-cvc" class="form-control" type="text" size="4" data-stripe="cvc"/>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="card-exp-month">Expiration</label>
                      <div class="form-inline">
                        <input id="card-exp-month" class="form-control" placeholder="MM" type="text" size="2" data-stripe="exp-month"/>
                        <span> / </span>
                        <input class="form-control" placeholder="YYYY" type="text" size="4" data-stripe="exp-year"/>
                      </div>
                    </div>
                  <button type="submit" class="btn btn-default">Submit Payment</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
