<%= render 'layouts/header' %>
<div class="container p-t-md">
  <div class="row">
  	<div class="col-sm-3 col-md-3">
  	  <div class="list-group m-b-md">
        <%= link_to help_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Help
        <% end %>
        <%= link_to about_path, class: "list-group-item active" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          About
        <% end %>
        <%= link_to terms_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Terms
        <% end %>
        <%= link_to privacy_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Privacy Policy
        <% end %>
        <%= link_to blog_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Blog
        <% end %>
        <%= link_to help_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Contact
        <% end %>
      </div>
     </div>
    <div class="col-sm-9 col-md-8">
      <ul class="list-group media-list media-list-stream">
        <li class="list-group-item p-a">
          <h2 class="m-a-0 text-center">About Us</h2>
        </li>

        <li class="media list-group-item p-a">
          <div class="media-body">

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>