<div class="container p-t-md">
  <div class="row">
  	<div class="col-sm-3 col-md-3">
  	  <div class="list-group m-b-md">
      	<%= link_to help_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Help
        <% end %>
        <%= link_to about_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          About
        <% end %>
        <%= link_to partners_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Partners
        <% end %>
        <%= link_to terms_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Terms
        <% end %>
        <%= link_to privacy_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Privacy Policy
        <% end %>
        <%= link_to blog_path, class: "list-group-item active" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Blog
        <% end %>
        <%= link_to contact_path, class: "list-group-item" do %>
          <span class="icon icon-chevron-thin-right pull-right"></span>
          Contact
        <% end %>
      </div>
    </div>
    <div class="col-sm-9 col-md-8">
      <ul class="list-group media-list media-list-stream">
        <li class="list-group-item p-a">
          <h2 class="m-a-0 text-center">Blog</h2>
        </li>
        <img class="img-responsive" src="http://www.discoveramerica.com/~/media/0ce25b97809d490a9eca866ca24e9bed/01%20atlanta%20downtown%20panoramic%20night%201046x380.jpg?w=1046&h=380&bg=ffffff" />
        <li class="media list-group-item p-a">
          <h3>Hello Atlanta!</h3>
        <hr>
          <div class="media-body">
            <h4>A bunch of text goes here for the blog post and explaining our launch and how it will affect the city of Atlanta.  We are extremely excited to be changing how people shop for clothes and couldnt be happier to be doing it in our hometown. Bla bla bla more text more text more text.
            </h4>
            <button type="submit" class="btn btn-primary">Read More</button>
          </div>
          <hr />
        </li>
      </ul>
    </div>
  </div>
</div>
