  <%= render 'layouts/header' %>
  <div id="jumbotron" class="jumbotron home-header">
    <div class="col-md-12">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br class="hidden-xs">
      <br class="hidden-xs">
      <h1 class="text-center hidden-sm hidden-xs">Clothing On-Demand</h1>
      <h2 class="text-center hidden-md hidden-lg text-center">Clothing On-Demand</h2>
      <h3 class="text-center hidden-sm hidden-xs">Get clothes delivered in an hour</h3>
      <h3 class="text-center hidden-md hidden-lg text-center">Get clothes delivered in an hour</h3>
    </div>
  <div class="col-md-4 col-md-offset-4">
  	<br class="hidden-xs hidden-sm">
  	<br />
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
        <%= form_tag '', method: :post, id: 'store-location-form' do %>
          <div class="input-group">
            <%= hidden_field_tag :latitude %>
            <%= hidden_field_tag :longitude %>
            <%= search_field_tag :address, nil, class: "form-control input-lg landing-search", id: "gmaps-autocomplete", autofocus: true, placeholder: "Enter your address", required: true %>
            <span class="input-group-btn">
              <%= button_tag "Go!", value: "search", class: "btn btn-primary btn-lg landing-button" %>
            </span>
          </div><!-- /input-group -->
        <% end %>
      </div>
    </div><!-- /.row -->

  </div>
  <div class="clearfix"></div>
</div>




  <div class="col-md-10 col-md-offset-2">
    <ul class="cities">
      <% @cities.each do |city| %>
        <li><%= link_to city, "/#{city.parameterize}" %></li>
      <% end %>
    </ul>
  </div>


<!-- Loading Google Maps API only for this page -->
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;libraries=places&amp;callback=initGoogleMapsAutocomplete" async="" defer=""></script>
