<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav secondary">
          <li><a href="/help">Help</a></li>
          <li class="active"><a href="/contact"><b>Contact</b></a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
<br />
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-center">
        Contact Us
      </h2>
      <h4 class="text-center">Let us know how we can help you!</h4>
      <hr />

      <div class="col-lg-10 col-lg-offset-1">
        <br />
        <%= form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <div class="col-sm-5 col-sm-offset-1">
          <div class="form-group">
            <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Name", :required => true %>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
          <%= f.text_field :email, :class => "form-control input-lg", :placeholder => "Email", :required => true %>
          </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="form-group">
            <%= f.text_area :message, :as => :text, :rows => 4, :class => "form-control input-lg", :placeholder => "Message", :required => true %>
          </div>
        </div>
        <div class= "hidden">
          <%= hidden_field_tag :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 col-sm-offset-4">
          <%= f.submit 'Submit', :class => "btn btn-block btn-lg red" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>