
<div class="restaurant-header">
<br /><br /><br /><br /><br />
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<br /><br />
			<h1 class="text-center">Partner with Derby</h1>
			<br /><br />
			<%= form_for @restaurant, :html => {:class => 'form-horizontal' } do |f| %>
		      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1">
		        <div class="form-group">
		          <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Name", :required => true %>
		        </div>
		      </div>
		      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1">
		        <div class="form-group">
		        <%= f.text_field :email, :class => "form-control input-lg", :placeholder => "Email", :required => true %>
		        </div>
		      </div>
		      <div class= "hidden">
		        <%= hidden_field_tag :nickname, :hint => 'Leave this field blank!' %>
		      </div>
		      <div class="clearfix"></div>
		      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
		        <%= f.submit 'Submit', :class => "btn btn-block btn-lg red" %>
		      </div>
		      <div class="clearfix"></div>
		      <br /><br /><br />
		    <% end %>
		</div>
	</div>
</div>