<%= rails_admin_form_for @object, url: refund_path(@abstract_model, @object.id), as: @abstract_model.param_key, html: { method: "put", class: "form-horizontal denser", data: { title: @page_name } } do |f| %>
  <fieldset>
    <div class="form-group control-group string_type">
      <%= label_tag :message, nil, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= text_field_tag :message, nil, class: 'form-control', size: 80 %>
        <span class="help-block">The email message the user will receive about the refund.</span>
      </div>
    </div>
  </fieldset>
  <div class="form-group form-actions">
    <div class="col-sm-offset-2 col-sm-10">
      <h4>Are you sure you want to refund this order?</h4>
      <%= f.button class: 'btn btn-danger' do %>
        <i class="icon-white icon-ok"></i>
        Yes, I'm sure
      <% end %>
      <%= link_to show_path(@abstract_model, @object.id), class: 'btn btn-default' do %>
        <i class="icon-remove"></i>
        Cancel
      <% end %>
    </div>
  </div>
<% end %>
