<nav class="cart drawer-nav list-group" role="menu">
  <div class="cart-header row text-center">
    <span class="cart-items-quantity"></span>
    <span class="cart-header-title">Shopping Cart</span>
    <a class="close drawer-toggle">
      <em class="close-button-icon"></em>
    </a>
  </div>
  <div class="list-wrapper">
    <% cart_items_by_date.each do |date, cart_items| %>
      <div class="date-group">
        <span class="delivery-date"><%= label_for_date date %></span>
        <span class="delivery-time">
          <%= form_tag cart_update_items_delivery_time_path do %>
            <%= hidden_field_tag :delivery_date, date %>
            <%= select_tag :delivery_time, options_for_select(CartItem::DELIVERY_TIMES, cart_items.first.delivery_time), class: 'update-delivery-time form-control' %>
          <% end %>
        </span>
      </div>
      <ul class="drawer-menu">
      <% cart_items.each do |cart_item| %>
          <li class="cart-item list-group-item">
            <div class="media">
              <div class="media-left text-center">
                <%= update_quantity_button(cart_item, 1) do %>
                  <i class="fa fa-chevron-up increase-quantity"></i>
                  <input type='hidden' value="<%=  cart_item.item_id %>" id='cart_item_menu_product_id' name='menu_product_id' />
                <% end %>
                <span class="quantity"><%= cart_item.quantity %></span>
                <% if cart_item.quantity > 1 %>
                  <%= update_quantity_button(cart_item, -1) do %>
                    <i class="fa fa-chevron-down reduce-quantity"></i>
                    <input type='hidden' value="<%=  cart_item.item_id %>" id='cart_item_menu_product_id' name='menu_product_id' />
                  <% end %>
                <% end %>
              </div>
              <div class="media-left">
                <%= image_tag cart_item.image.url(:thumb), class: 'media-object' %>
              </div>
              <div class="media-body">
                <div class="col-md-8"><%= cart_item.name %></div>
                <div class="price col-md-4"><%= humanized_money_with_symbol cart_item.subtotal %></div>
                <%= button_to '×', cart_remove_path(menu_product_id: cart_item.item_id), method: :delete, class: 'cart-remove remove-item-button btn btn-xs btn-default pull-right',  'data-for': cart_item.item_id  %>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      <% end %>
  </div>
  <%= link_to new_order_path, class: 'checkout-button btn-red text-center' do %>
    <div class="cart-items-length">
      <%= humanized_money_with_symbol cart.subtotal %>
    </div>
    Check Out
  <% end %>
</nav>
