<div class="footer">
	<div class="container">
	  <p class="text-center footer-text">
		<span class="footer-link">
			<%= link_to "Help", help_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Drivers", drivers_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Blog" %>
		</span>
		<span class="footer-link">
			<%= link_to "Terms", terms_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Privacy", privacy_path %>
		</span>
		<br /><br />
		<a href="http://www.facebook.com/getbyte"><i class="fa fa-2x fa-facebook-square"></i></a>
		&nbsp;&nbsp;&nbsp;
	  	<a href="http://www.twitter.com/getbyte"><i class="fa fa-2x fa-twitter-square"></i></a>&nbsp;&nbsp;&nbsp;
	  	<a href="http://www.instagram.com/getbyte"><i class="fa fa-2x fa-instagram spacer"></i></a>
			<br /><br />
			&copy; 2016 Byte
		</p>
  </div>
  <br />
</div>
