<div class="footer">
	<div class="container">
	  <p class="text-center footer-text">
		<span class="footer-link">
			<%= link_to "Help", terms_path %>
		</span>
		<span class="footer-link">
			<%= link_to "About Us", terms_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Drivers", drivers_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Terms", terms_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Privacy", privacy_path %>
		</span>
		<br /><br />
		<i class="fa fa-2x fa-facebook-square"></i>&nbsp;&nbsp;&nbsp;
	  	<i class="fa fa-2x fa-twitter-square"></i>&nbsp;&nbsp;&nbsp;
	  	<i class="fa fa-2x fa-instagram spacer"></i>
			<br /><br />
			&copy; 2015 Derby
		</p>
  </div>
  <br />
</div>
