<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="footer" style="border-top:1px solid #000;">
  <p class="text-center footer-text">
	<span class="footer-link">
		<%= link_to "Help", root_path %>
	</span>
	<span class="footer-link">
		<%= link_to "About", root_path %>
	</span>
	<span class="footer-link">
		<%= link_to "Terms", terms_path %>
	</span>
	<span class="footer-link">
		<%= link_to "Blog", root_path %>
	</span>
	<span class="footer-link">
		<%= link_to "Contact", root_path %>
	</span>
  </p>
</div>