
<div class="footer">
	<div class="container">
	  <p class="text-center footer-text">
		<span class="footer-link">
			<%= link_to "Help", help_path %>
		</span>
		<span class="footer-link">
			<%= link_to "About", about_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Partners", partners_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Terms", terms_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Privacy", privacy_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Blog", blog_path %>
		</span>
		<span class="footer-link">
			<%= link_to "Contact", contact_path %>
		</span>
	  </p>
  </div>
</div>