<%= render 'layouts/sign_in' %>
<%= render 'layouts/sign_up' %>
<%= render 'layouts/forgot_password' %>
<%= render 'layouts/cart' %>

<%= render 'layouts/how_it_works' %>

<!-- Driver Bar -->
<% if current_page?(root_path) %>
  <div class="visible-xs visible-sm driver-bar collapse in" id="demo">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <%= link_to "Get the app", drive_path, class: "driver-apply btn btn-block pull-right" %>
      </div>
    </div>
  </div>
<% end %>


<nav class="navbar navbar-default" id="primary-nav">
  <div class="container-fluid">
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <%= image_tag('Derby-Logo', style: "height:36px; width:74px; margin-top:-5px;") %>
        </a>
      </div>

      <ul class="nav navbar-nav address-menu">
        <% if current_address.present? %>
          <li>
            <%= link_to '/' + current_address.city.name.parameterize do %>
              <i class="fa fa-map-marker"></i> <%= current_address.address.gsub(/ \d{5}, (?:USA|United States)/, '') %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_page?(root_path) %>
          <li class="hidden-xs">
            <a href="#how-it-works" role="button" id="how-works" data-toggle="collapse" aria-expanded="false">
            How it Works
            </a>
          </li>
          <% end %>

          <li class="cart-icon-menu<%= ' hide' if cart.empty? %>">
            <a href="#" class="cart-icon drawer-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= image_tag('Shopping-Cart', style: "width:24px;") %>
              <span class="badge"><%= cart_items.count %></span>
            </a>
          </li>

          <li class="<%= user_signed_in? ? 'hide' : '' %>"><%= modal_to "Login", "#loginModal", id: 'sign-in-link', class: (user_signed_in? ? 'hide login-link' : 'login-link') %>
          </li>
          <li class="<%= !user_signed_in? ? 'hide' : '' %>">
            <a href="/account"
               class="dropdown-toggle avatar-padding<%= ' hide' unless user_signed_in? %>"
               aria-expanded="false">
              <img class="img-circle profile<%= ' hide' unless user_signed_in? %>" src="https://d1725r39asqzt3.cloudfront.net/fff52caf-79f2-4a03-9aed-c475522e6f91/orig.png" />
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
</nav>
