<%= render 'layouts/sign_in' %>
<%= render 'layouts/sign_up' %>
<%= render 'layouts/forgot_password' %>

<nav class="navbar navbar-inverse" id="primary-nav">
  <div class="container-fluid">
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        -->
        <a class="navbar-brand" href="/">
            <img src="http://i.imgur.com/suNGJcN.png" style="height:40px; width:40px; margin-top:-9px;" alt="brand">
        </a>
      </div>

      <ul class="nav navbar-nav hidden-xs">
				<li><a href="/atlanta"><i class="fa fa-map-marker"></i> Atlanta</a></li>
        </li>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="cart" href="/cart">
              <span class="cart-items-count"><%= cart.shopping_cart_items.count %></span>
              <img src="http://i.imgur.com/idVpWj5.png" />
            </a>
          </li>
          <li class="dropdown">
            <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle avatar-padding" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="img-circle profile" src="https://d1725r39asqzt3.cloudfront.net/fff52caf-79f2-4a03-9aed-c475522e6f91/orig.png" />
              </a>
            <% else %>
              <li><%= modal_to "Login", "#loginModal" %></li>
            <% end %>
            <ul class="dropdown-menu">
              <li><a href="/account">Account</a></li>
              <li><%= link_to 'Edit profile', edit_user_path %></li>
              <li><a href="/checkout">Checkout</a></li>
              <li><%= link_to 'Orders', orders_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
