<%= render 'layouts/sign_in' %>
<%= render 'layouts/sign_up' %>
<%= render 'layouts/forgot_password' %>
<%= render 'layouts/cart' %>
<% if current_page?(root_path) %>
  <div class="driver-bar collapse in" id="demo">
    <div class="row">
      <div class="hidden-xs col-sm-3 col-md-5">
        <a id="rotator">
        <%= image_tag('Car-96') %>
        </a>
      </div>
      <div class="col-xs-7 col-sm-4 col-xs-offset-1 col-md-2 col-md-offset-0">
        <div class="text-center">
          <h2 class="driver-text">Drive For Us</h2>
        </div>
      </div>
      <div class="col-xs-2 col-md-2">

        <%= link_to "Apply", drive_path, class: "driver-apply" %>
      </div>
      <div class="col-xs-2 col-md-3">
        <button type="button" class="btn btn-driver pull-right" data-toggle="collapse" data-target="#demo">
          <i class="fa fa-2x fa-times"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<nav class="navbar navbar-default" id="primary-nav">
  <div class="container-fluid">
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <%= image_tag('Derby-Logo', style: "height:36px; width:74px; margin-top:-5px;") %>
        </a>
      </div>

      <ul class="nav navbar-nav address-menu">
        <% if current_address.present? %>
          <li>
            <%= link_to '/' + current_address.city.name.parameterize do %>
              <i class="fa fa-map-marker"></i> <%= current_address.address.gsub(/ \d{5}, (?:USA|United States)/, '') %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% unless cart_items.empty? %>
            <li>
              <a href="#" class="cart drawer-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= image_tag('Shopping-Cart', style: "width:24px;") %>
                <span class="badge">4</span>
              </a>
            </li>
          <% end %>

          <li class="<%= user_signed_in? ? 'hide' : '' %>"><%= modal_to "Login", "#loginModal", id: 'sign-in-link', class: (user_signed_in? ? 'hide login-link' : 'login-link') %>
          </li>
          <li class="<%= !user_signed_in? ? 'hide' : '' %>">
            <a href="/account"
               class="dropdown-toggle avatar-padding<%= ' hide' unless user_signed_in? %>"
               aria-expanded="false">
              <img class="img-circle profile<%= ' hide' unless user_signed_in? %>" src="https://d1725r39asqzt3.cloudfront.net/fff52caf-79f2-4a03-9aed-c475522e6f91/orig.png" />
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
