<%= render 'layouts/sign_in' %>
<%= render 'layouts/sign_up' %>
<%= render 'layouts/forgot_password' %>

<nav class="navbar navbar-default" id="primary-nav">
  <div class="container-fluid">
    <div class="block-images col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <%= image_tag('Derby-Logo', style: "height:36px; width:74px; margin-top:-5px;") %>
        </a>
      </div>

      <ul class="nav navbar-nav address-menu">
        <% if current_address.present? %>
          <li>
            <%= link_to '/' + current_address.city.name.parameterize do %>
              <i class="fa fa-map-marker"></i> <%= current_address.address.gsub(/ \d{5}, (?:USA|United States)/, '') %>
          <% end %>
          </li>
        <% end %>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% unless cart.empty? %>
            <li class="dropdown">
              <a href="#" class="cart dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= image_tag('Shopping-Cart', style: "width:24px;") %>
              </a>
              <ul class="dropdown-menu dropdown-cart" role="menu">
              <li>
                <span class="item">
                  <span class="item-left">
                    <img src="http://lorempixel.com/50/50/" alt="" />
                    <span class="item-info">
                      <span class="hidden-xs">Chik-Fil-A Biscuit</span>
                      <span>$3</span>
                    </span>
                  </span>
                  <span class="item-right">
                    <button class="btn btn-xs btn-default pull-right">x</button>
                  </span>
                </span>
              </li>
              <li>
                <span class="item">
                  <span class="item-left">
                    <img src="http://lorempixel.com/50/50/" alt="" />
                    <span class="item-info">
                      <span class="hidden-xs">Chik-Fil-A Biscuit</span>
                      <span>$3</span>
                    </span>
                  </span>
                  <span class="item-right">
                    <button class="btn btn-xs btn-default pull-right">x</button>
                  </span>
                </span>
              </li>
              <li>
                <span class="item">
                  <span class="item-left">
                    <img src="http://lorempixel.com/50/50/" alt="" />
                    <span class="item-info">
                      <span class="hidden-xs">Chik-Fil-A Biscuit</span>
                      <span>$3</span>
                    </span>
                  </span>
                  <span class="item-right">
                    <button class="btn btn-xs btn-default pull-right">x</button>
                  </span>
                </span>
              </li>
              <li>
                <span class="item">
                  <span class="item-left">
                    <img src="http://lorempixel.com/50/50/" alt="" />
                    <span class="item-info">

                      <span class="hidden-xs">Chik-Fil-A Biscuit</span>
                      <span>$3</span>
                    </span>
                  </span>
                  <span class="item-right">
                    <button class="btn btn-xs btn-default pull-right">x</button>
                  </span>
                </span>
              </li>
              <li><a class="btn-red text-center" href="">
              <div class="cart-items-length hidden-xs">$8.50</div>
              Check Out</a>
              </li>
          </ul>
            </li>
          <% end %>
          <li><%= modal_to "Login", "#loginModal", id: 'sign-in-link', class: (user_signed_in? ? 'hide login-link' : 'login-link') %></li>
          <li class="dropdown">
            <a href="#"
               id="user-dropdown"
               class="dropdown-toggle avatar-padding<%= ' hide' unless user_signed_in? %>"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
               
               <img class="img-circle profile<%= ' hide' unless user_signed_in? %>" src="https://d1725r39asqzt3.cloudfront.net/fff52caf-79f2-4a03-9aed-c475522e6f91/orig.png" />
            </a>
            <ul class="dropdown-menu">
              <li><a href="/account">Account</a></li>
              <li><%= link_to 'Edit profile', edit_user_path %></li>
              <li><%= link_to 'Orders', orders_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
