<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body p-a-0 js-modalBody">
        <form role="form" class="m-x-auto text-center app-login-form">
          <a href="/" class="app-brand m-b-lg">
            <img src="http://i.imgur.com/mJLWHVZ.png" alt="brand">
          </a>
          <div class="form-group">
            <a id="facebook-button" ng-click="startLogin()" ng-disabled="!facebookReady || isSubmitting" class="fb-button">
                <span class="facebook"></span> Login with Facebook
            </a>
          </div>
          <hr />
          <div class="form-group">
            <input class="form-control" placeholder="Email">
          </div>
          <div class="form-group m-b-md">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="m-b-lg">
            <button class="btn btn-block btn-primary">Log In</button>
            <br /><br />
            <%= link_to "Sign up", "#registerModal", "data-toggle" => "modal" %> | 
            <%= link_to "Forgot password", "#passwordModal", "data-toggle" => "modal" %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Sign Up Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body p-a-0 js-modalBody">
        <form role="form" class="m-x-auto text-center app-login-form">
          <a href="/" class="app-brand m-b-lg">
            <img src="http://i.imgur.com/mJLWHVZ.png" alt="brand">
          </a>
          <div class="form-group">
            <a id="facebook-button" ng-click="startLogin()" ng-disabled="!facebookReady || isSubmitting" class="fb-button">
                <span class="facebook"></span> Sign up with Facebook
              </a>
          </div>
          <hr />
          <div class="form-group">
            <input class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Confirm Password">
          </div>
          <div class="m-b-lg">
            <button class="btn btn-block btn-primary">Sign Up</button>
          </div>
          <footer class="screen-login">
            <%= link_to "Login", "#loginModal", "data-toggle" => "modal" %> | 
            <%= link_to "Forgot password", "#passwordModal", "data-toggle" => "modal" %>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Forgot Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body p-a-0 js-modalBody">
        <form role="form" class="m-x-auto text-center app-login-form">
          <a href="/" class="app-brand m-b-lg">
            <img src="http://i.imgur.com/mJLWHVZ.png" alt="brand">
          </a>
          <div class="form-group">
            <input class="form-control" placeholder="Email">
          </div>
          <div class="m-b-lg">
            <button class="btn btn-block btn-primary">Send Password</button>
            <br /><br />
            <%= link_to "Login", "#loginModal", "data-toggle" => "modal", "data-dismiss" => "modal" %> | 
            <%= link_to "Sign up", "#registerModal", "data-toggle" => "modal" %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<div class="growl" id="app-growl"></div>





<nav id="app-navbar" class="navbar navbar-default navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="http://i.imgur.com/mJLWHVZ.png" style="height:40px; width:40px; margin-top:-9px;" alt="brand">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li >
            <a class="app-notifications" href="/cart/">
              <span class="icon icon-shopping-cart"></span>
              <span class="cart-label number"><span class="ebor-count">1</span></span>
            </a>
          </li>
          <li>
          <% if user_signed_in? %>
            <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
              <img class="img-circle" src="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
            </button>
          <% else %>
            <li><a data-toggle="modal" href="#loginModal">Login</a></li>
          <% end %>
          </li>
        </ul>

        <form class="navbar-form navbar-right app-search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" data-action="grow" placeholder="Search Atlanta">
          </div>
        </form>

        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="/home/">Home</a></li>
          <li><a data-toggle="modal" href="/cart">Cart</a></li>
          <li><a href="/notifications/">Notifications</a></li>
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="/login/">Logout</a></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><a href="/profile">Profile</a>
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><%= link_to 'Previous orders', orders_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
  </div>
</nav>

