<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body p-a-0 js-modalBody">
        <%= form_for(User.new, url: session_path(:user), html: { id: 'sign-in-form', class: "m-x-auto text-center app-login-form", role: "form" }) do |f| %>
            <img src="http://i.imgur.com/mJLWHVZ.png" alt="brand" class="app-brand">
          <div class="form-group">
            <%= link_to omniauth_authorize_path(:user, :facebook), class: "fb-button" do %>
              <span class="facebook"></span> Login with Facebook
            <% end %>
          </div>
          <hr />
          <p class="errors error-message"></p>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group m-b-md">
            <%= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>
          </div>
          <div class="m-b-lg">
            <%= f.button "Log In", class: "btn btn-block green" %>
            <br /><br />
            <%= modal_to "Sign up", "#registerModal" %> | 
            <%= modal_to "Forgot password", "#passwordModal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
